<% unless regimen.errors.empty? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% regimen.errors.each do |item, error| %>
        <li><%= item %> - <%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for regimen, url: { action: :update } do |form| %>
  <%= form.fields_for :combinations, RegimenCombination.new do |combos_form| %>
    <%= render 'combination_fields', form: combos_form %>
  <% end %>

  <%= link_to_add_fields '+ Combination', form, :combinations, class: 'btn btn-outline-primary waves-effect', style: 'margin-top: 5px'%>

  <hr />

  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>

