<% unless regimen.errors.empty? %>
  <div class="errors">
    <% regimen.errors.each do |item, error| %>
      <p class="error"><%= item %> - <%= error %></p>
    <% end %>
  </div>
<% end %>

<%= form_for regimen, url: { action: :update } do |form| %>
  <%= form.fields_for :combinations, RegimenCombination.new do |combos_form| %>
    <%= render 'combination_fields', form: combos_form %>
  <% end %>

  <%= link_to_add_fields '+ Combination', form, :combinations %>

  <%= form.submit 'Save' %>
<% end %>

