<!DOCTYPE html>
<html>
  <head>
    <title>ARTMetadataCurator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag 'bootstrap.min' %>
    <!-- Material Design Bootstrap -->
    <%= stylesheet_link_tag 'mdb.min' %>
    <%= stylesheet_link_tag 'addons/datatables2.min' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- jQuery -->
    <%= javascript_include_tag 'jquery.min' %>
    <!-- Bootstrap tooltips -->
    <%= javascript_include_tag 'popper.min' %>
    <!-- Bootstrap core JavaScript -->
    <%= javascript_include_tag 'bootstrap.min' %>
    <!-- MDB core JavaScript -->
    <%= javascript_include_tag 'mdb.min' %>
    <%= javascript_include_tag 'addons/datatables2.min' %>

    <%= render 'nav' %>
    
    <%= yield %>
  </body>
</html>
